/* Cabeçalho */
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
}

.img-wrp {
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrp img {
  display: block;
  margin: 0 auto;
  width: 85%;
  padding: 1.875rem 0;
}

/* Menu de Navegação */

nav {
  margin: 0.5rem 0;
  background-color: #175490;
  margin: 0 auto;
}

nav ul {
  display: block;
  text-align: center;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding: 1.2rem;
  font: 1rem Arial, sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  font-weight: bold;
  color: #fbbc82;
  transition: all 0.25s;
}

/* SECTION */

.content-space {
  margin: 0 auto;
  width: 80%;
}

h1 {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #175490;
  border-radius: 0.125rem;
}

h3 {
  font-size: 1.25rem;
  padding: 1rem 0 2rem 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #e4860b;
}

.name-space,
.course-space {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

label {
  width: 12%;
  text-align: right;
  padding-right: 2.25%;
  line-height: 2rem;
  margin-left: 1%;
  color: #175490;
}

input[type="text"],
textarea
{
  width: 78%;
  padding: 0.675rem;
  font-size: 1rem;
  margin-right: 7%;
  border-radius: 0.125rem;
  outline: none;
  border: 1px solid #fbbc82;
  box-shadow: 2px 3px 4px rgb(225, 225, 225);
}

.btn-wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}
button {
  padding: 0.675rem 2rem;
  color: #fff;
  margin: 1.5rem 1.25rem;
  border-radius: 0.125rem;
  font-size: 1.05rem;
  border: none;
}

input[type="submit"],
input[type="reset"]
{
  padding: 0.675rem 2rem;
  margin: 1.5rem 1.25rem;
  border-radius: 0.125rem;
  font-size: 1.05rem;
}

.sbmt {
  background-color: #175490;
  box-shadow: 4px 5px 8px rgba(53, 53, 53, 0.4);
  color: #fff;
  border: 1px solid #175490;
}

.sbmt:hover {
  background-color: #013482;
  transition: 0.5s;
  border: 1px solid #013482
}

.rst {
  background-color: #fff;
  border: 1px solid #fbbc82;
  box-shadow: 4px 5px 8px rgba(53, 53, 53, 0.25);
  color: #013482;
}

.rst:hover {
  background-color: #fbbc82;
  transition: 0.5s;
  color: #272727;
  border: 1px solid #fbbc82;
}

/* somente para buttons */
.info {
    background-color: #218efb;
}

.info a {
    text-decoration: none;
    color: #fff;
}

/* Na página contato, para posicionamento do textarea */
.message-space {
    display: flex;
    padding: .5rem;
    width: 100%;
    align-items: flex-start;
}

/* Tabelas dos cursos da página de cursos */

table {
  width: 100%;
  margin: 5% 0;
}

table td {
  padding: 1.2rem 0;
  text-align: center;
  border: 1px solid #fbbc82;
}

.categoria {
    width: 15%;
}
.nome-categoria {
    width: 55%;
}
.valor {
    width: 10%;
}
.matricular {
    width: 20%;
}

.cabecalho {
  padding: 1.25rem 0;
  background-color: #175490;
  border: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #175490;
}

/* botão dentro da tabela */

.curso-page {
  margin: 0;
}

/* FOOTER */

footer {
  background-color: #175490;
  width: 100%;
  height: 10rem;
  bottom: 0;
}

.footer-text {
  font-size: 0.9rem;
  color: #fff;
}

#copyright {
  text-align: center;
  position: relative;
  top: 15%;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 30%;
}

.social-media img {
  width: 2rem;
  display: block;
}

.icon-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.25rem;
}
