/*Cabeçalho*/
.img-wrp {
    width: 100%;
    height: 10rem;
    display: block;
}

.img-wrp img {
    height: 10rem;
    display: block;
    margin: 0 auto;
}

/* Menu de Navegação */

nav {
    margin: .5rem 0;
}

nav ul {
    display:block;
    text-align: center;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: .5rem 1rem;
    font: 1rem Arial, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #013482;
}

nav ul li a:hover {
    font-size: 1.1rem;
    font-weight: bold;

    color: #e4860b;
    transition: .5s;
}

/* SECTION */

.form-set {
    width: 100%;
    height: 100vh;
}

.form-set h1 {
    text-align: center;
    font: bold 1.875rem Arial, sans-serif;
    color: #fff;
    padding: .75rem;
    background-color: #013482;
    width: 80%;
    margin: 0 auto;
    border-radius: .375rem;
    border-bottom: 4px solid #fbbc82;
}

form {
    width: 80%;
    margin: 0 auto;
}

fieldset {
    width: 90%;
    padding: .5rem;
    margin: 2rem auto;
}

.form-field {
    background-color: lightgreen;
}

fieldset input[type="text"] {
    width: 80%;
    display: block;
    margin: .5rem;
    float: right;
    margin: 0 0 0 15%;
    padding: .675rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #013482;
    border-radius: .25rem;
}

fieldset label {
    float: right;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    right: 80%;
    margin: 0 92% 0 0;
}


