/* Cabeçalho */
body {
    font-family: Arial, sans-serif;
}
.img-wrp {
    width: 100%;
    height: 10rem;
    display: block;
}

.img-wrp img {
    height: 10rem;
    display: block;
    margin: 0 auto;
}

/* Menu de Navegação */

nav {
    margin: .5rem 0;
}

nav ul {
    display:block;
    text-align: center;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: .5rem 1rem;
    font: 1rem Arial, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #013482;
}

nav ul li a:hover {
    font-weight: bold;
    color: #e4860b;
    transition: all .25s;
}

/* SECTION */

.content-space {
    margin: 0 auto;
    width: 80%;
  }

  h1 {
    margin: 0 auto;
    width: 100%;
    padding: 1.125rem 0;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #175490;
    border-radius: 0.125rem;
  }

  h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
    margin: 2% auto;
    position: relative;
    text-align: center;
    color: #e4860b;
  }

  .name-space, .course-space {
      display: flex;
      align-items: center;
      width: 100%;
      padding: .5rem;
  }

  label {
      width: 12%;
      text-align: right;
      padding-right: 3%;
      line-height: 2rem;
      margin-left: 2%;
      color: #175490;
  }

  input[type="text"] {
      width: 78%;
      padding: .675rem;
      font-size: 1rem;
      margin-right: 7%;
      border-radius: .125rem;
      outline: none;
      border: 1px solid #fbbc82;    
  }
     
  .btn-wrapper {
      width: 50%;
      margin: auto;
      text-align: center;
      padding: .5rem;
  }
  button {
    padding: 0.675rem 2rem;
    color: #fff;
    margin: 1.5rem 1.25rem;
    border-radius: 0.125rem;
    font-size: 1.05rem;
    border: none;   
  }

  .sbmt {
    background-color: #175490;
  }

  .sbmt a{
      color: #fff;
      text-decoration: none;
    }
    
    .sbmt:hover {
        background-color: #013482;
        transition: .5s;
    }
    
    .rst {
        background-color: #fbbc82;
    }
    
    .rst a {
        color: #222;
        text-decoration: none;
  }
  .rst:hover {
      background-color: #e4860b;
      transition: .5s;
  }

/* Tabelas dos cursos da página de cursos */

table {
   width: 100%;
   margin: 5% 0;  
}

table td {
    padding: .5rem 0;
    text-align: center;
    border: 1px solid #fbbc82; 
}

.cabecalho {
    padding: .875rem 0;
    background-color: #175490;
    border: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #175490;
}

/* botão dentro da tabela */

.curso-page {
    margin: 0;
}


/* FOOTER */

footer {
    position: fixed;
    background-color: #175490;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
}

.footer-text {
   font-size: .9rem;
   color: #fff;
}

#copyright { 
    text-align: center;
    position: relative;
    top: 15%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

.social-media img {
    width: 2rem;
    display: block;
}

.icon-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.25rem;
}
